body {
    margin: 0;
    padding: 0;
    background-color: black;
}

div p{
    color: white;
    text-align: center;
    font-size: 50px;
    width: 500px;
    height: 500px;
    align-items: center;
    
}

.block {
    position: relative;
    margin: 10% auto 0;
    width: 50%;
    height: 400px;
    background: linear-gradient(0deg, black, rgb(44, 43, 43));

}

.glow::before, .glow::after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg, #ebfb04, #ff6600, #00ff66, #00ffff, #ff00ff, #ff8099, #6e0dd0, #ff3300, #099fff);
    background-size: 400%;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    z-index: -1;
    animation: animate 20s linear infinite;

}

@keyframes animate{
    0%{
        background-position: 0 0;
    }

    50%{
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }

}

.glow::after{
    filter: blur(40px);
}